{% extends 'layout.html' %}
{% block content %}
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.nick(tabindex=1, placeholder="Type your nickname here",
        style="width:434px") }}
    <br />
    {{ form.rooms(tabindex=2, placeholder="Join rooms",
        style="width:434px") }}
    <span class="help-block">Room names must be separated by spaces.</span>
    {{ form.recaptcha }}
    <br />
    {{ form.submit(class="btn btn-primary") }}
</form>
{% if form.errors %}

    <div id="form-errors">
    {% for error in form.nick.errors %}
        <div class="alert alert-error">{{ error }}</div>
    {% endfor %}
    {% for error in form.rooms.errors %}
        <div class="alert alert-error">{{ error }}</div>
    {% endfor %}
    {% for error in form.recaptcha.errors %}
        <div class="alert alert-error">{{ error }}</div>
    {% endfor %}
    </div>
{% endif %}
{% if errors %}

    <div id="errors">
    {% for error in errors %}
        <div class="alert alert-error">{{ error }}</div>
    {% endfor %}
    </div>
{% endif %}
{% endblock %}
