{% extends 'layout.html' %}
{% block content %}
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.nick.label }}{{ form.nick(tabindex=1) }}
    {{ form.rooms.label }}{{ form.rooms(tabindex=2) }}
    {{ form.submit }}
</form>
{% if form.errors %}

    <ul id="form-errors">
    {% for error in form.nick.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% if errors %}

    <ul id="errors">
    {% for error in errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endblock %}
