{% extends 'layout.html' %}
{% block content %}
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.nick.label }}{{ form.nick(tabindex=1) }}
    {{ form.rooms.label }}{{ form.rooms(tabindex=2) }}
    {{ form.submit }}
</form>
{% if form.errors %}

    <div id="form-errors">
    {% for error in form.nick.errors %}
        <div class="alert alert-error">{{ error }}</div>
    {% endfor %}
    {% for error in form.rooms.errors %}
        <div class="alert alert-error">{{ error }}</div>
    {% endfor %}
    </div>
{% endif %}
{% if errors %}

    <div id="errors">
    {% for error in errors %}
        <div class="alert alert-error">{{ error }}</div>
    {% endfor %}
    </div>
{% endif %}
{% endblock %}
