.nick{
    font-weight: bold;
}

.footer{
    bottom: 0px;
    width: 100%;
    margin: 0px;
}

body{
    margin: 20px 20px 0px 20px;
}

.ui-effects-transfer{
    border: 2px;
    border-style: dashed;
}

#content{
    overflow-y: auto;
}

#user-list{
    width: 8%;
    overflow-x: auto;
    border-left: 2px solid #DDD;
    padding-left: 5px;
    margin-left: 5px;
}

.actionbox-toolbar{
}

.spaced{
    margin-top: 20px;
}

#nick{
    width: 434px;
}

#rooms{
    width: 434px;
}

#text {
    width: 99%;
}

#join_rooms {
    width: 99%;
}

#actionbox form {
    margin: 0px;
}

#error-dialog p {
    color: #000;
}