.nick{
    font-weight: bold;
}

.footer{
    bottom: 0px;
    width: 100%;
}

body{
    margin: 20px;
}

.ui-effects-transfer{
    border: 2px;
    border-style: dashed;
}

#content{
    width: 100%;
    overflow-y: auto;
}
