.nick{
    font-weight: bold;
}

.footer{
    bottom: 0px;
    width: 100%;
}

body{
    margin: 20px;
}

.ui-effects-transfer{
    border: 2px;
    border-style: dashed;
}

#content{
    overflow-y: auto;
}

#user-list{
    width: 8%;
    overflow-x: auto;
    border-left: 2px solid #DDD;
    padding-left: 5px;
    margin-left: 5px;
}

.actionbox-toolbar{
    cursor: pointer;
    text-align: right;
}

.spaced{
    margin-top: 20px;
}
