.nick{
    font-weight: bold;
}

.chat-window{
    height: 50%;
}

.footer{
    position: fixed;
    bottom: 0px;
    background-color: #FFFFFF;
    width: 100%;
}

.action-box{
    position: fixed;
    bottom: 15px;
    margin-top: 10px;
    background-color: #FFFFFF;
    width: 100%;
}

body{
    margin: 20px;
}

